*{
    margin:0px;
    padding: 0px;
}
header{
    background-color: #364385;
    padding: 30px;
    font-family: 'Courier New', Cou-
    rier, monospace;
}

main{
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
ul,li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 20px;
    
}

a:hover{
   color: rgb(100, 85, 65);
}
#conteudo{
    margin-top: 30px;
}

#text{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    margin-left: 20px;
    margin-top: 5px;
}
#imagens{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
#imagens>ul>li>img:hover{
    background-color:rgba(0, 0,
    0, 0.179);
    padding: 10px;
}
footer{
    text-align: center;
    background-color:  #364385;
    color: white;
    padding: 5px;
    margin-top: 17%;
}
img{
    border-radius: 20px;
    margin-right: 20px;
    background: rgba(0, 0,
    0, 0.179);

}


#video{
    margin-top: 40px;
    text-align: center;
}
footer{
    margin-bottom: 0%;
}
